<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'belt_app/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome! Let's travel!</h1>
        {% if messages %} 
        <ul class="messages">
            {% for message in messages %}
            <li style="color:red;">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form class="col-5 form1" action="/register" method="post">
            {% csrf_token %}
            <h2>Register here!</h2>
            <div class="form-group">
                <label for="exampleInputEmail1">First Name:</label>
                <input name="fname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter first name">
                <small id="emailHelp" class="form-text text-muted">Please enter your first name.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Last Name:</label>
                <input name="lname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter last name">
                <small id="emailHelp" class="form-text text-muted">Please enter your last name.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email:</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password:</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm password:</label>
                <input name="confirm_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password Confirmation">
            </div>
            <button type="submit" class="btn btn-outline-success">Register</button>
        </form>


        <form class="col-5 form2" action="/login" method="post">
            {% csrf_token %}
            <h2>Login here!</h2>
            <div class="form-group">
                <label for="exampleInputEmail1">Email:</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password:</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-outline-success">Login</button>
        </form>
    </div>    
</body>
</html>